@model Garage3._0.Models.Entities.VehicleType

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center text-warning"> VehicleType Details</h1>

<div>
    
    <hr />
    <dl class="row myTable">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfSpots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfSpots)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
